<header class="empty"></header>
<div class="main">
  <div class="container mat-elevation-z4 mat-typography">

    <div class="columns ">
      <!-- column 1 -->
      <div class="column">
        <div class="field">
          <label class="label">Kegiatan</label>
          <div class="control">
            <input class="input" type="text" required [(ngModel)]="form.activity" 
              name="activity" [value]="form.activity" placeholder="Nama Kegiatan">
          </div>
         </div>
          
        <div class="field">
          <label class="label">Batas Waktu</label>
          <div class="control">
            <input class="input" required matInput [(ngModel)]="date" [matDatepicker]="picker" 
                placeholder="Pilih Tanggal" (click)="picker.open()" name="deadline">
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Catatan</label>
          <div class="control">
            <textarea class="textarea" [(ngModel)]="form.note" name="note" 
              placeholder="Catatan" [value]="form.note"></textarea>
          </div>
        </div>          
      </div>
        
        <!-- column 2 -->
      <div class="column">
        <div class="field">
          <label class="label">Unit / Sub Unit</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="form.subunit" name="subunit">
                <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
              </select>
            </div>
          </div>
        </div>
          
        <div class="field">
          <label class="label">Penanggung Jawab</label>
          <div class="control"><ul>
            <li *ngFor="let user of userForm">
              <mat-checkbox name="pic" [(ngModel)]="user.pic" [value]="user.id">
                {{user.name}}
              </mat-checkbox>
            </li>
          </ul></div>
        </div>
        <a class="button is-success" (click)="onSubmit()">Tambahkan</a>
        <a class="button is-danger" (click)="goBack()">Batal</a><br>
      </div>
    </div>

  </div> <!-- container end -->
</div> <!-- main end -->
