<header class="empty"></header>
<div class="main">
  <div class="container mat-typography">

    <div *ngIf="isLoading; else loadFinish" class="content">
      <mat-spinner class="center"></mat-spinner>
    </div>

    <ng-template #loadFinish>
      <h3 class="title is-3">{{activity.activity}}</h3>

      <h3 class="subtitle is-5">
        <span class="has-text-success"><b>Penanggung Jawab: </b></span><li *ngFor="let pic of activity.pic">{{pic.name}}</li>
        <span class="has-text-danger"><b>Batas Waktu: </b></span>{{activity.deadline}}

        <span *ngIf="isOpen(); else isClose" >
          <a (click)="changeStatus()" class="button is-danger is-small">Open</a>
        </span>
        <ng-template #isClose>
        <span>
          <a (click)="changeStatus()" class="button is-success is-small">Close</a>
        </span>        
        </ng-template>

        <span>
          <a routerLink="/edit/{{activity.id}}" class="button is-small is-link">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span>Ubah</span>
          </a>
        </span>
        <span>
          <a (click)="deleteItem(activity.id)" class="button is-small is-danger is-outlined">
            <span>Hapus</span>
            <span class="icon"><i class="fas fa-times"></i></span>
          </a>
        </span>
      </h3>

      <mat-table *ngIf="hasProgress(); else noProgress" #table [dataSource]="dataSource" class="mat-elevation-z4">
          <ng-container matColumnDef='no'>
            <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
            <mat-cell *matCellDef="let table">{{table.no}}.</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef='progress'>
            <mat-header-cell *matHeaderCellDef>Progress</mat-header-cell>
            <mat-cell *matCellDef="let table">{{table.progress.progress}}</mat-cell>
          </ng-container>
            
          <ng-container matColumnDef='pic'>
            <mat-header-cell *matHeaderCellDef>Pelaksana</mat-header-cell>
            <mat-cell *matCellDef="let table">{{table.progress.pic.name}}</mat-cell>
          </ng-container>
            
          <ng-container matColumnDef='pdate'>
            <mat-header-cell *matHeaderCellDef>Waktu</mat-header-cell>
            <mat-cell *matCellDef="let table">{{table.progress.pdate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef='act'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let table">{{table.progress.id}}</mat-cell>
          </ng-container>
            
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>

      <ng-template #noProgress>
      <div class="columns is-centered">
        <div class='column is-narrow is-half'>
          <p class="has-text-centered">Belum ada progres untuk aktifitas ini.</p>
        </div>
      </div>
      </ng-template> 
        
      <div class="columns top-20">
        <div class="column">
          <a *ngIf="showAddButton()" class="button is-link is-pulled-right">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Tambahkan</span>
          </a>
        </div>
      </div>
    </ng-template>

  </div>
</div>
