/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bulma/css/bulma.css";

app-navbar {
  position: fixed;
  top :0;
  left: 0;
  right: 0;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.container {
  padding: 30px;
}

.empty {
  height: 64px;
}

.top-20 {
  margin-top: 20px;
}

.right-10 {
  margin-right: 10px;
}